body {
		font-family: Arial;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#canvas {
    background: url('../images/level-1-bg.png') left bottom;
}

#game {
	margin: 0 auto;
	text-align: left;
    position: relative;
}

#fps {
	position: absolute;
	left: 50px;
	top: 50px;
	display: block;
	background: white;
	padding: 10px 20px;
	
}


/* Buttons
------------------------------ */

#btn-right,
#btn-left,
#btn-up-left,
#btn-up-right {
    position: absolute;
    width: 50%;
    height: 50%;
}

#btn-left {
    left: 0;
    top: 50%;
}

#btn-up-left {
    left: 0;
    top: 0;
}

#btn-right {
    right: 0;
    top: 50%; 
}

#btn-up-right {
    right: 0;
    top: 0;
}